footer.footer
    .footer_con
        .con
            .nei
                div
                    ul.di_nav.clearfix
                        li
                            a(href='scenic') 景区概况
                        li
                            a(href='literary') 文苑之旅
                        li
                            a(href='residence') 舒雅住宅
                        li
                            a(href='news') 新闻动态
                        li
                            a(href='feedback') 留言中心
                        li
                            a(href='contact') 联系我们
                    .links
                        | 友情链接
                        ul
                            li
                                a(href='') 百度文化
                            li
                                a(href='') 新浪微博
                            li
                                a(href='') 百度知道
                .clear
                .lian
                    | 电话：
                    a(href='tel:0776-3216270') 0776-3216270
                    br
                    | 邮箱：
                    a(href='mailto:info@mars-it.net') info@mars-it.net
                    br
                    | 手机：
                    a(href='tel:0771-3216270') 0771-3216270
                    br
                    | 地址：广西南宁市科园大道东五路4号南宁软件园1楼
                    br
                    a(href='map') 网站地图
                    br
                    span
                        a(href='http://www.71360.com/', target='_blank')
                            img(src='/truand-one/images/footer/yu.png', alt='')
                        span.er_a
                            img.one_img(src='/truand-one/images/footer/mars-wechat.png' height='24px' width='24px')
                            | 火星人公众号
                            img.er_img(src='/truand-one/images/footer/mars-wechat.png', alt='')
    .copy Copyright© 2016  版权所有: 南宁火星人信息科技有限公司